@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@*@model Acme.Web.Views.AboutUs.Index*@

@*<div>
	@Html.PropertyFor(m => m.MainBody)
</div>*@
@RenderBody()
<div class="o-grid__column" data-size="sm:24 md:12 lg:12 xl:12">
	<div class="s-text s-text--article">
		<h2>Vad går Fotbollsaffären ut på?</h2>
		<p>Tanken med Fotbollsaffären är att vi tillsammans ska förenkla vardagen och erbjuda er bra affärer genom att använda de centrala avtal som SvFF och ert distriktsförbund tecknat med sina olika samarbetspartners.</p>
		<p>Det ska löna sig att vara medlem i SvFF. För oss är det en självklarhet att stödja våra medlemsföreningar - och därmed svensk fotboll totalt. Därför arbetar vi ständigt med att skapa nya möjligheter för en bättre föreningsekonomi.</p>
		<p>Tanken med Fotbollsaffären är att vi tillsammans ska förenkla vardagen och erbjuda er bra affärer genom att använda de centrala avtal som SvFF och ert distriktsförbund tecknat med sina olika samarbetspartners.</p>
		<p>Vi har nu samlat alla samarbetsavtal och andra aktiviteter som kan bidra till att utveckla din förening på en gemensam webbplats, svenskfotboll.se/fotbollsaffaren. Här kan du hitta förmånliga erbjudanden om resor, hotell, hyrbilar, inköpspriser och rabatter på produkter och tjänster som din förening behöver i verksamheten.</p>
		<p>Behöver ni fylla på klubbkassan genom eget arbete finns också en rad möjligheter till olika aktiviteter som ni kan arbeta med.</p>
	</div>
</div>
