@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model ReferenceBlock
<div>
	<div class="text-center">
		@Html.PropertyFor(m => m.Image, new { ImageWidth = 100 })
	</div>

	<div class="text-color text-center">
		@Html.PropertyFor(m => m.Text)
	</div>
	<div class="text-center c-quote__author c-quote__author-name">
		@Html.PropertyFor(m => m.CoachName)  @*, new { CustomTag = "h3" }*@
	</div>

	<div class="color-coach text-center">
		@Html.PropertyFor(m => m.CompanyName, new { CustomTag = "h3" })
	</div>
</div>
