@model TeaserBlock


<div class="">
@Html.PropertyImageFor(x => x.Image, new { ImageCssClass = "left", ImageWidth = 100})
	<span class="heading-font-size">
	@Html.PropertyFor(x => x.Heading, new { CustomTag = "h2", ImageCssClass = "right" })
	</span>
</div>

<div class="text-color">
@Html.PropertyFor(x => x.Text)
@Html.PropertyFor(x => x.Link)
</div>
