<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<episerver>
		<applicationSettings xdt:Transform="SetAttributes"
												 globalErrorHandling="Off"
												 httpCacheExpiration="1:0:0" />
	</episerver>
	<episerver.framework xdt:Transform="SetAttributes"
											 updateDatabaseSchema="true" />
	<connectionStrings>
		<add xdt:Transform="SetAttributes"
				 xdt:Locator="Match(name)"
				 name="EPiServerDB"
				 connectionString=""
				 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp xdt:Transform="Replace">
				<network host="smtp.example.com" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<customErrors xdt:Transform="SetAttributes"
									mode="On" />
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<system.webServer>
		<httpErrors xdt:Transform="SetAttributes"
								errorMode="Custom" />
	</system.webServer>
</configuration>